$hagrid: 'hagrid', sans-serif;
$neue: 'NeueMachina', sans-serif;
$teal-color: #98E8CD;
$content-padding: 9% 19%;

@font-face {
    font-family: Hagrid;
    src: url(/fonts/Hagrid/hagrid-light.ttf);
}

@font-face {
    font-family: NeueMachina;
    src: url(/fonts/NeueMachina/NeueMachina-Regular.otf);
}

* {
    font-family: $hagrid;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0;
    color: #fffafa;
}

h1 {
    font-weight: 100;
    font-size: 65px;
}

h2 {
    font-size: 48px;
}

h3 {
    color: $teal-color;
    font-size: 24px;
}

p {
    font-family: $neue;
    text-align: justify;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#header {
    overflow: hidden;
    position: fixed;
    margin-right: 0;
    top: 0;
    left: 0;
    width: 100%;
    /* background-color: #be3144; */
}

#header a {
    float: right;
    color: #fffafa;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 1.2rem;
}

/* NAVBAR */
.navbar {
    margin: 2%;
    transition: 0.3s ease-in-out;
}

.nav-active {
    background-color: rgba(255, 255, 255, .15); 
    backdrop-filter: blur(5px);
}

// WELCOME SECTION
#welcome-section {
    margin: 0;
    height: 100vh;
    background-color: #ffffff;
    background-image: url("/images/Home.png");

    div {
        padding: 2%;
    }
    
    button {
        padding: 20px 40px;
        background: none;
        border: none;
        position: relative;
        text-transform: uppercase;
        color: $teal-color;
        font-family: $neue;
        font-weight: bold;
        letter-spacing: 3px;
        cursor: pointer;
        &:after,
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          border: 2px solid $teal-color;
          transition: transform .2s;
        }
        &:after {
          transform: translate(3px, 3px);
        }
        &:before {
          transform: translate(-3px, -3px);
        }
        &:hover {
          &:after,
          &:before {
            transform: translate(0);
          }
        }
      }
}

.name {
    color: $teal-color;
}

.headCaption {
    font-family: $neue;
    font-size: 28px;
}

/* BUTTON  */


/* ABOUT SECTION */
#about {
    background-image: url("/images/blank-bg.png");
    display: block;
    padding: $content-padding;

    div {
        padding: 2% 0;
    }
}

.banner {
    width: 100%;
}

/* CREDENTIALS SECTION */
#credentials {
    background-image: url("/images/1.png");
    display: block;
    padding: $content-padding;

    .cred-head {
        text-align: right;
    }
    .cred-tile {
        // padding: 5% 0 3% 8%;
    }

    .cred-head, .cred-tile {
        padding: 2%;
    }
}



/* PROJECTS SECTION*/
#projects {
    background-image: url("/images/blank-bg.png");
    display: block;
    padding: $content-padding;
}

.project-tile {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.project-tile:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.contain {
    padding: 2px 16px;
}

/* CONTACT SECTION */
#contact {
    background-image: url("/images/2.png");
}

/*<500px S*/
@media only screen and (max-width: 499px) {}

/*500-1200 M*/
@media only screen and (min-width: 500px) and (max-width: 1199px) {}

/*>1200px L*/
@media only screen and (min-width: 1200px) {}